.e27_2 { 
	overflow:hidden;
}
.e27_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1481px;
	height:3162px;
	position:absolute;
}
.e27_3 { 
	background-image:linear-gradient(0deg, rgba(255, 52.06249974668026, 52.06249974668026, 1) 0%,rgba(27.858737111091614, 16.495311968028545, 73.31249848008156, 0.7799999713897705) 100%) ;
	width:1481px;
	height:192px;
	position:absolute;
	left:0px;
	top:3px;
}
.e27_4 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:1482px;
	height:610px;
	position:absolute;
	left:-1px;
	top:628px;
	background-image:url(images/4_mundos_1.png);
	background-position: center;
	background-repeat:no-repeat;
	background-size:cover;
}
.e27_4 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e27_5 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:1354px;
	height:137px;
	position:absolute;
	left:86px;
	top:20px;
	font-family:Italianno;
	text-align:left;
	font-size:70px;
	letter-spacing:0;
}
.e27_6 { 
	width:1481px;
	height:433px;
	position:absolute;
	left:0px;
	top:195px;
	background-image:url(images/monta_ita_1.png);
	background-position: center;
	background-repeat:no-repeat;
	background-size:cover;
}
.e27_7 { 
	color:rgba(0, 0, 0, 1);
	width:815px;
	height:204px;
	position:absolute;
	left:0px;
	top:208px;
	font-family:Akaya Kanadaka;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e27_8 { 
	background-color:rgba(255, 237.78751641511917, 82.87499696016312, 1);
	width:721px;
	height:362px;
	position:absolute;
	left:0px;
	top:850px;
}
.e27_9 { 
	color:rgba(0, 0, 0, 1);
	width:624px;
	height:315px;
	position:absolute;
	left:48px;
	top:870px;
	font-family:Akaya Kanadaka;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e27_10 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: rotate(3.1805546814635168e-15deg);
	background-color:rgba(0, 0, 0, 1);
	width:246px;
	height:59px;
	position:absolute;
	left:256px;
	top:1137px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e27_11 { 
	color:rgba(255, 255, 255, 1);
	width:233px;
	height:41px;
	position:absolute;
	left:242px;
	top:1144px;
	font-family:Akaya Kanadaka;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e27_12 { 
	background-color:rgba(255, 237.78751641511917, 82.87499696016312, 1);
	width:721px;
	height:362px;
	position:absolute;
	left:0px;
	top:850px;
}
.e27_13 { 
	color:rgba(0, 0, 0, 1);
	width:624px;
	height:315px;
	position:absolute;
	left:48px;
	top:870px;
	font-family:Akaya Kanadaka;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e27_14 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: rotate(3.1805546814635168e-15deg);
	background-color:rgba(0, 0, 0, 1);
	width:246px;
	height:59px;
	position:absolute;
	left:256px;
	top:1135px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e27_15 { 
	width:246px;
	height:59px;
	position:absolute;
	left:235px;
	top:1137px;
}
.e27_16 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: rotate(3.1805546814635168e-15deg);
	background-color:rgba(0, 0, 0, 1);
	width:246px;
	height:59px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e27_17 { 
	color:rgba(255, 255, 255, 1);
	width:233px;
	height:41px;
	position:absolute;
	left:242px;
	top:1144px;
	font-family:Akaya Kanadaka;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e27_18 { 
	width:595px;
	height:330px;
	position:absolute;
	left:803px;
	top:864px;
	background-image:url(images/sobre_el_glaciar_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e27_19 { 
	color:rgba(255, 255, 255, 1);
	width:233px;
	height:41px;
	position:absolute;
	left:964px;
	top:1479px;
	font-family:Akaya Kanadaka;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e27_20 { 
	width:100px;
	height:100px;
	position:absolute;
	left:773px;
	top:1432px;
}
.e27_21 { 
	width:616px;
	height:298px;
	position:absolute;
	left:54px;
	top:1243px;
	background-image:url(images/desierto_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e27_22 { 
	background-color:rgba(255, 150.87499290704727, 150.87499290704727, 1);
	width:719px;
	height:314px;
	position:absolute;
	left:762px;
	top:1235px;
}
.e27_23 { 
	color:rgba(0, 0, 0, 1);
	width:491px;
	height:177px;
	position:absolute;
	left:855px;
	top:1273px;
	font-family:Akaya Kanadaka;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e27_24 { 
	width:246px;
	height:59px;
	position:absolute;
	left:977px;
	top:1470px;
}
.e27_25 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: rotate(3.1805546814635168e-15deg);
	background-color:rgba(0, 0, 0, 1);
	width:246px;
	height:59px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e27_26 { 
	color:rgba(255, 255, 255, 1);
	width:233px;
	height:41px;
	position:absolute;
	left:983px;
	top:1479px;
	font-family:Akaya Kanadaka;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e27_27 { 
	width:721px;
	height:325px;
	position:absolute;
	left:0px;
	top:1588px;
}
.e27_28 { 
	background-color:rgba(136.00000709295273, 255, 233.58000218868256, 1);
	width:721px;
	height:325px;
	position:absolute;
	left:0px;
	top:0px;
}
.e27_29 { 
	width:246px;
	height:59px;
	position:absolute;
	left:237px;
	top:229px;
}
.ei27_29_27_25 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: rotate(3.1805546814635168e-15deg);
	background-color:rgba(0, 0, 0, 1);
	width:246px;
	height:59px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e27_30 { 
	color:rgba(255, 255, 255, 1);
	width:223px;
	height:44px;
	position:absolute;
	left:250px;
	top:234px;
	font-family:Akaya Kanadaka;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e27_31 { 
	width:646px;
	height:303px;
	position:absolute;
	left:799px;
	top:1590px;
	background-image:url(images/visitar_la_cascada_pailon_del_diablo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e27_32 { 
	color:rgba(0, 0, 0, 1);
	width:540px;
	height:195px;
	position:absolute;
	left:90px;
	top:1594px;
	font-family:Akaya Kanadaka;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e27_33 { 
	width:648px;
	height:328px;
	position:absolute;
	left:38px;
	top:1956px;
	background-image:url(images/playa_santa_marianita_manta_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e27_34 { 
	background-color:rgba(36.741243079304695, 141.31250202655792, 0, 1);
	width:720px;
	height:339px;
	position:absolute;
	left:761px;
	top:1950px;
}
.e27_35 { 
	width:246px;
	height:59px;
	position:absolute;
	left:999px;
	top:2172px;
}
.ei27_35_27_25 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: rotate(3.1805546814635168e-15deg);
	background-color:rgba(0, 0, 0, 1);
	width:246px;
	height:59px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e27_36 { 
	color:rgba(255, 255, 255, 1);
	width:635px;
	height:185px;
	position:absolute;
	left:804px;
	top:1987px;
	font-family:Akaya Kanadaka;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e27_37 { 
	color:rgba(255, 255, 255, 1);
	width:226px;
	height:40px;
	position:absolute;
	left:1009px;
	top:2181px;
	font-family:Akaya Kanadaka;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e27_38 { 
	width:636px;
	height:302px;
	position:absolute;
	left:807px;
	top:2362px;
	background-image:url(images/jumandy_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e27_39 { 
	background-color:rgba(205.06250202655792, 155.12500405311584, 255, 1);
	width:741px;
	height:322px;
	position:absolute;
	left:0px;
	top:2350px;
}
.e27_40 { 
	color:rgba(255, 255, 255, 1);
	width:635px;
	height:185px;
	position:absolute;
	left:51px;
	top:2370px;
	font-family:Akaya Kanadaka;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e27_41 { 
	width:246px;
	height:59px;
	position:absolute;
	left:247px;
	top:2565px;
}
.ei27_41_27_25 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: rotate(3.1805546814635168e-15deg);
	background-color:rgba(0, 0, 0, 1);
	width:246px;
	height:59px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e27_42 { 
	color:rgba(255, 255, 255, 1);
	width:222px;
	height:42px;
	position:absolute;
	left:261px;
	top:2570px;
	font-family:Akaya Kanadaka;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e27_43 { 
	width:636px;
	height:285px;
	position:absolute;
	left:72px;
	top:2734px;
	background-image:url(images/mitadmundo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e27_44 { 
	background-color:rgba(255, 220.8724808692932, 99.87500354647636, 1);
	width:713px;
	height:310px;
	position:absolute;
	left:768px;
	top:2709px;
}
.e27_45 { 
	color:rgba(0, 0, 0, 1);
	width:609px;
	height:192px;
	position:absolute;
	left:815px;
	top:2727px;
	font-family:Akaya Kanadaka;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e27_46 { 
	width:246px;
	height:59px;
	position:absolute;
	left:1002px;
	top:2933px;
}
.ei27_46_27_25 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: rotate(3.1805546814635168e-15deg);
	background-color:rgba(0, 0, 0, 1);
	width:246px;
	height:59px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e27_47 { 
	color:rgba(255, 255, 255, 1);
	width:222px;
	height:37px;
	position:absolute;
	left:1014px;
	top:2944px;
	font-family:Akaya Kanadaka;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e27_48 { 
	width:1481px;
	height:118px;
	position:absolute;
	left:0px;
	top:3044px;
	background-image:url(images/mar_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
